/* <--------------------------↓-INDEX-↓--------------------------> */
/* <-------------------↓-Header (Особливості)-↓-------------------> */
:root {
    --main-background-color: #FFFFFF;
    --footer-background-color: #2F303A;
    --button-background-color: #F5F4FA;
    --address-text-color: rgba(255, 255, 255, 0.6);
    --footer-link-address: #FFFFFF;
    --title-text-color: #212121;
    --text-color: #757575;
    --header-web-part-logo: #2196F3;
}

.body {
    font-family: roboto, sans-serif;
    letter-spacing: 0.03em;

    background-color: var(--main-background-color);
    color: var(--title-text-color);
}

/* <----------↓-LOGO-↓----------> */
.header-webstudio {
    font-family: raleway;
    font-size: 26px;
    font-weight: 400;
    color: #000000;
}
.header-webstudio::selection{
    color: #2196F3;
}
.header-web {
    color: var(--header-web-part-logo);
}
/* <----------↑-LOGO-↑----------> */

.link-interactive {
    text-decoration: none;
}
.link-interactive:focus,
.link-interactive:hover {
    color: #2196F3;
}

/* <--------↓-NAVIGATION PANEL-↓--------> */
/* Для того, щоб зробити підсвічування посилання поточної 
сторінки, необхідно задати додатковий клас, наприклад 
.current прописати для нього потрібний колір і застосовувати 
до вибраних посилань */
.header-link {
    color: #212121;
    
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
}

.header-items .link:hover, 
.header-items .link:focus {
    color: #2196F3;
}

.header-items .link.current {
    color: #2196F3;
}

/* <--------↑-NAVIGATION PANEL-↑--------> */

.header-item {
    list-style-type: none; 
    color: var(--title-text-color); 
}
.header-mail,
.header-number {
    color: var(--text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
}


/* <--------------------↓-Main(Особливості)-↓--------------------> */

.main-container {
    background-color: #2F303A;
}
.main-heading {
    color: #FFFFFF;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
}
.button {
    border: none;
    background-color: #2196F3;
    color: #FFFFFF;
    border-radius: 4px;

    cursor: pointer;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
}

.main-item {
    list-style-type: none; 
}

/* <----------------------↓-Заголовки-↓----------------------> */
/* h2 */
.main-specialty {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}
/* h3 */
.main-specialty-heading {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
}
.main-specialty-paragraph {
    color: var(--paragraph-text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}

/* Чим ми займаємося */
/* h2 */
.main-practice {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}

/* Наша команда */
.main-team-container {
    background-color: #F5F4FA;
}
/* h2 */
.main-our-team {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}
/* h3 */
.main-developer{
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.17;
}
.main-developer-jobs {
    color: var(--paragraph-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.17;
}
/* <----------------------↑-Заголовки-↑----------------------> */

/* <------------↓-FOOTER (PORTFOLIO AND STUDIO)-↓------------> */

.footer-background {
    background-color: var(--footer-background-color);
}
.footer-interactive {
    text-decoration: none;
}
.footer-webstudio {
    color: #FFFFFF;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 400;
}
.footer-item {
    font-style: normal;
    list-style-type: none; 
}

.footer-link-address {
    color: var(--footer-link-address);
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
}
.footer-mail,
.footer-phone {
    color: var(--address-text-color);
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
}
/* <--------------------------↑-INDEX-↑--------------------------> */



/* <------------------------↓-PORTFOLIO-↓------------------------> */
/* <---------------------------↓-MAIN-↓---------------------------> */
.main-p {
    background-color: var(--main-background-color);
}
.main-project-p {
    color: #000000;
    Font: Roboto;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
}

/* ↓ BOTTON ↓ */
.main-item-button-p {
    list-style-type: none;
}
.botton-p {
    background: var(--button-background-color);
    border-radius: 4px;
    border: none;

    font: 500 16px Roboto;
    line-height: 1.62;
    color: var(--title-text-color);

    cursor: pointer;
     
    background-image: linear-gradient(to left,transparent,transparent 50%,#2196F3 50%,#2196F3);
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all .25s ease-in;
    /* border: 1px solid #00C6FF; */
}

.botton-interactive-p:hover,
.botton-interactive-p:focus {
    background-color: #2196F3;
    background-position: 0 0;
    color: #FFFFFF;

} 
.botton-interactive-p:active {
    background-color: #2196F3;
}

/* ↑ BOTTON ↑ */

.main-item-p {
    list-style-type: none; 
}
.main-heading-p {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
}
.main-paragraph-p {
    color: var(--paragraph-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
}
/* <------------------------↑-PORTFOLIO-↑------------------------> */